body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSXpNLt2eFsHlOYUIfqBLx5Ie6LGnl2EcOjUKDbuIwEbGX__8R-kCjcauqsj4SiWg_-x1BffHrHTLU&usqp=CAU&ec=48600113);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 875px;
}
.sign-up {
  padding: 100px;
  width: 200px;
  background-color: rgb(6, 203, 243);
  padding: 60px 120px 60px 120px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-top: 7rem;
}
/* .change {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: auto;
  margin: auto;
} */
.whole {
  display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  margin-left: 105px;
  border-radius: 5px;
  border: none;
  outline: none;
}
/* input:valid {
  border: 2px solid green;
}
input:invalid {
  border: 2px solid rgb(206, 50, 19);
} */

.btn {
  background: green;
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  border-radius: 15px;

  margin-top: 20px;
  margin-left: 50px;
}
.btn:hover {
  opacity: 0.7;
}

@media only screen and (max-width: 600px) {
  .sign-up {
    width: 200px;
    margin-left: 20px;
  }
}
