.sign-up {
  background-color: white;
  padding: 100px;
  margin-left: 30%;
  margin-top: 2%;
  width: 200px;
}
.input {
  margin-left: 105px;
}

#btn {
  background: green;
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  border-radius: 15px;

  margin-top: 20px;
  margin-left: 50px;
}
#btn:hover {
  opacity: 0.7;
}
