/* .head {
  font-size: 48px;

  background: transparent;
  color: #007bff;
} */
body {
  margin: 0px;
  padding: 0px;
}
.top {
  display: block;
  justify-content: center;
  text-align: center;
}
.head {
  margin: auto;
  /* padding-top: 10px; */

  background-color: rgb(181, 222, 234);
}
.logo {
  display: flex;
  /* margin-top: -100px; */
  /* margin-left: 100px;
  margin-bottom: 30px; */
}

.top2 {
  display: flex;
}

.part1 {
  padding-left: 100px;
}

.nav {
  margin-top: 40px;
  margin-left: 600px;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
  justify-content: space-between;
}

.dropdown-content {
  display: none;
  position: absolute;

  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 8px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/* #google_translate_element {
  margin-top: -150px;
  margin-left: 10px;
} */

#google_translate_element {
  border: none;
  outline: none;
}
.background {
  background-image: url(../image/background\ .jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* .nav-bar {
  display: flex;
  width: 600px;
  height: 42px;
  border: 1px solid #007bff;
  border-radius: 60px;
  background: transparent;
  background-color: white;
  padding-right: 2%;
  padding-left: 2%;
  padding-top: 1%;
  padding-bottom: -30%;

  margin-left: 50%;
}

.nav-bar a {
  text-align: center;

  text-decoration: none;
  color: black;
}
.active {
  height: 2em;
  width: 9em;

  background: transparent;
  -webkit-animation: jello-horizontal 0.9s both;
  animation: jello-horizontal 0.9s both;
  outline: none;
  color: #016dd9;
  font-size: 17px;
}

.active:hover {
  background: #016dd9;
  color: #ffffff;
  animation: squeeze3124 0.9s both;
} */
.footer {
  /* margin-top: 500px; */
  padding: 100px;
  background-color: rgb(129, 209, 235);
  display: flex;
  column-gap: 150px;
  /*   
  text-align: center;
  justify-content: center; */
}

/* @keyframes squeeze3124 {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
} */

.middle {
  display: flex;
  padding-top: 10%;
}
.theory {
  font-family: "Tangerine", serif;
  font-size: 30px;
  color: black;
  margin-top: -80px;
  margin-left: 10px;
  width: 200px;
}
.video {
  padding-left: 20%;
  padding-right: 20%;
}
.video-1 {
  right: 0;
  width: 600px;
  height: 300px;

  background: #f0eef0;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 20px;
  border: 10px solid rgb(93, 212, 212);

  padding: 10px;
  margin-bottom: 50px;
}
.last {
  padding-bottom: 3%;
  /* background-color: rgba(83, 153, 233, 0.959); */
}
.last-1 {
  display: flex;
}

.btn {
  width: 140px;
  height: 50px;
  background: linear-gradient(to top, #00154c, #12376e, #23487f);
  color: #fff;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin-left: 200px;
  margin-top: 50px;
}

.btn span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: top 0.5s;
  color: white;
}
a {
  text-decoration: none;
}

.btn-text-one {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.btn-text-two {
  position: absolute;
  width: 100%;
  top: 150%;
  left: 0;
  transform: translateY(-50%);
}

.btn:hover .btn-text-one {
  top: -100%;
}

.btn:hover .btn-text-two {
  top: 50%;
}

.btn-7 {
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  margin: 30px;

  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-left: 40px;
  width: 300px;
}
.btn-7:hover {
  color: aliceblue;
  background-color: rgb(77, 117, 152);
}
.btn-8 {
  font-size: 40px;
  border-radius: 20px;
  width: 50px;
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-8:hover {
  opacity: 0.7;
  border: none;
}
.btn-9 {
  height: 30px;
  width: 50px;
  margin-top: 5px;
}

.btn-9:hover {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-10 {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}
.btn-10:hover {
  background-color: #007bff;
  color: white;
  border: none;
}

.pdf {
  font-size: 48px;
}
p {
  padding-left: 40%;
  margin: 0px;
}
/* .footer {
  background-color: rgb(129, 129, 244);
}
.footer-1 {
  font-size: 20px;
  padding-left: 40%;
}
.footer-2 {
  margin-left: -10%;
  display: flex;
  padding: 20px 0px;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 20px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}
.wrapper .youtube:hover,
.wrapper .youtube:hover .tooltip,
.wrapper .youtube:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
} */

/* #photo {
  border-radius: 20px;
  background-color: rgb(241, 81, 183);
  width: 60px;
  height: 30px;
  margin-left: 20%;
}
.para {
  margin-left: -10px;
  padding-top: 7px;
} */
#photo {
  border-radius: 20px;
  background-color: rgb(241, 81, 183);
  width: 40px;
  height: 40px;
  margin-left: 30%;
}
.para {
  margin-left: 10px;
  padding-top: 13px;
}

@media only screen and (max-width: 700px) {
  .head {
    font-size: 24px;

    background: transparent;
    color: #007bff;
  }
  body {
    margin: 0px;
  }
  .background {
    background-image: url(../image/background\ .jpg);
    height: 600px;
    width: 500px;
  }
  .nav-bar {
    display: flex;
    width: 300px;
    height: 40px;
    border: 1px solid #007bff;
    border-radius: 30px;
    background: transparent;
    background-color: white;

    margin-left: 25%;
  }

  .nav-bar a {
    text-align: center;

    text-decoration: none;
    color: black;
  }

  .active {
    height: 2em;
    width: 9em;

    background: transparent;
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
    outline: none;
    color: #016dd9;
    font-size: 17px;
  }

  .active:hover {
    background: #016dd9;
    color: #ffffff;
    animation: squeeze3124 0.9s both;
  }

  .btn {
    width: 140px;
    height: 50px;
    background: linear-gradient(to top, #00154c, #12376e, #23487f);
    color: #fff;
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    margin-left: 200px;
    margin-top: 50px;
  }

  .btn span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
  }

  .btn-text-one {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  .btn-text-two {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
  }

  .btn:hover .btn-text-one {
    top: -100%;
  }

  .btn:hover .btn-text-two {
    top: 50%;
  }

  .middle {
    display: flex;
    padding-top: 5%;
  }
  .theory {
    font-family: "Tangerine", serif;
    font-size: 15px;
    color: black;
    margin-top: -40px;
    margin-left: 5px;
    width: 100px;
  }
  .video {
    padding-left: 10%;
    padding-right: 10%;
  }
  .video-1 {
    right: 0;
    width: 300px;
    height: 150px;
    background: #f0eef0;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 20px;
    border: 5px solid rgb(93, 212, 212);

    padding: 5px;
    margin-bottom: 25px;
  }
  .last {
    padding-top: 1.5%;
    width: 500px;
    background-color: rgba(180, 224, 239, 0.959);
  }
  .last-1 {
    display: flex;
  }

  .btn {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    margin: 10px;
    border-radius: 3px;
    border: none;
    padding: 10px;
    width: 100px;
  }
  .btn:hover {
    color: aliceblue;
    background-color: rgb(77, 117, 152);
  }

  .btn-7 {
    font-family: "Times New Roman", Times, serif;
    font-size: large;
    margin: 15px;

    border-radius: 2px;
    border: none;
    padding: 5px;
    margin-left: 20px;
    width: 150px;
  }
  .btn-7:hover {
    color: aliceblue;
    background-color: rgb(77, 117, 152);
  }

  .btn-8:hover {
    opacity: 0.7;
    border: none;
  }

  .btn-9:hover {
    background-color: #007bff;
    color: white;
    border: none;
  }
  .btn-10:hover {
    background-color: #007bff;
    color: white;
    border: none;
  }

  .pdf {
    font-size: 24px;
  }
  p {
    padding-left: 20%;
    margin: 0px;
  }
  .footer {
    background-color: rgb(129, 129, 244);
    width: 500px;
  }
  .footer-1 {
    font-size: 10px;
    padding-left: 20%;
  }
  .footer-2 {
    margin-left: 15%;
    display: flex;
    padding: 10px 0px;
  }
  .footer-2 {
    margin-left: -30%;
    display: flex;
    padding: 20px 0px;
  }
  #photo {
    border-radius: 20px;
    background-color: rgb(241, 81, 183);
    width: 100px;
    height: 20px;
    margin-left: 20%;
  }
  .para {
    margin-left: -10px;
    padding-top: 7px;
  }
}
