.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  background-color: aquamarine;
}
.grid {
  border: 10px solid rgb(93, 212, 212);

  margin: 7%;
}
.grid-in {
  display: flex;

  background-color: gray;
  color: white;
}
.grid-in-1 {
}
.grid-in p {
  text-align: center;
  margin-top: -1px;
  margin-left: 100%;
}
.nav-bar {
  display: flex;
  padding: 2%;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
}
.nav-bar a {
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: white;
}
.active-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10%;
}
.active {
  padding-left: 10%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.btn-8 {
  font-size: 40px;
  border-radius: 20px;
  width: 50px;
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-8:hover {
  opacity: 0.7;
  border: none;
}
.btn-9 {
  height: 30px;
  width: 50px;
  margin-top: 5px;
}

.btn-9:hover {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-10 {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}
.btn-10:hover {
  background-color: #007bff;
  color: white;
  border: none;
}

.footer {
  background-color: rgb(129, 129, 244);
}
.footer-1 {
  font-size: 20px;
  padding-left: 40%;
}
.footer-2 {
  margin-left: 30%;
  display: flex;
  padding: 20px 0px;
}

.image-1 {
  padding-left: 5%;
}
.image-2 {
  padding-left: 5%;
}
.image-3 {
  padding-left: 5%;
}
