.first {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  background-color: aquamarine;
}
.grid {
  border: 10px solid rgb(93, 212, 212);

  margin: 7%;
}
.grid-in {
  display: flex;

  background-color: gray;
  color: white;
}
.grid-in-1 {
}
.grid-in p {
  text-align: center;

  margin-left: 100%;
}
.first {
  background: url(https://images.unsplash.com/photo-1584382179644-9c11f8e6ee0c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8c3RhbXBzfGVufDB8fDB8fA%3D%3D&w=1000&q=80);
}
.nav-bar {
  display: flex;
  width: 1000px;
  height: 40px;
  border: 1px solid #007bff;
  border-radius: 60px;

  margin-left: 25%;
  background: white;
}

.nav-bar a {
  text-align: center;

  text-decoration: none;
  color: black;
}
.active {
  padding-left: 10%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.btn-8 {
  font-size: 40px;
  border-radius: 20px;
  width: 50px;
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-8:hover {
  opacity: 0.7;
  border: none;
}
.btn-9 {
  height: 30px;
  width: 50px;
  margin-top: 5px;
}

.btn-9:hover {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-10 {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}
.btn-10:hover {
  background-color: #007bff;
  color: white;
  border: none;
}

.footer {
  background-color: rgb(129, 129, 244);
}
.para {
  padding-left: 40%;
  margin: 0px;
}
.footer-1 {
  font-size: 20px;
  padding-left: 35%;
}
.footer-2 {
  margin-left: 30%;
  display: flex;
  padding: 20px 0px;
}

.image-1 {
  padding-left: 5%;
}
.image-2 {
  padding-left: 5%;
}
.image-3 {
  padding-left: 5%;
}

.whole {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.stamp {
  width: 400px;
  height: 500px;
}

@media only screen and (max-width: 700px) {
  .nav-bar {
    width: 600px;
    margin-left: 0px;
  }
  .active {
    padding-left: 5%;
  }
}
