.whole {
  background-color: aqua;
  border: 3px solid red;
  height: 400px;
  width: 500px;
  padding-left: 10%;
  margin-top: 10%;
  margin-left: 30%;
}
.head {
  font-size: 50px;
}
.name {
  padding: 10px;
  margin-left: 0%;
  margin-bottom: 10px;
}
.mail {
  padding: 10px;
  margin-bottom: 10px;
}
.Question {
  padding: 10px;
  margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
  .whole {
    margin-left: 10%;
    width: auto;
  }
}
