.nav-bar {
  display: flex;
  padding-top: 3%;
  background-color: black;
}
.nav-bar a {
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: white;
}
.active-1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  padding-left: 10%;
}
.active {
  padding-left: 10%;

  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
.full {
  display: flex;
  background-color: lightblue;
}
.full-1 {
  padding-right: 30px;
  margin-top: 5%;
  font-size: 20px;
}
.video {
  margin-top: 30%;
}
.btn-8 {
  font-size: 40px;
  border-radius: 20px;
  width: 50px;
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-8:hover {
  opacity: 0.7;
  border: none;
}
.btn-9 {
  height: 30px;
  width: 50px;
  margin-top: 5px;
}

.btn-9:hover {
  background-color: #007bff;
  color: white;
  border: none;
}
.btn-10 {
  height: 30px;
  width: 60px;
  margin-top: 5px;
}
.btn-10:hover {
  background-color: #007bff;
  color: white;
  border: none;
}

.footer {
  background-color: rgb(129, 129, 244);
}
.footer-1 {
  font-size: 20px;
  padding-left: 40%;
}
.footer-2 {
  margin-left: 30%;
  display: flex;
  padding: 20px 0px;
}
.image-1 {
  padding-left: 5%;
}
.image-2 {
  padding-left: 5%;
}
.image-3 {
  padding-left: 5%;
}
.para {
  margin-top: 0px;
  margin-left: 40%;
}
.birth {
  margin-left: 20%;
  margin-top: 10%;
}
.birth-1 {
  border-radius: 20px;
}
@media only screen and (max-width: 700px) {
  .nav-bar {
    width: 645px;
  }
  .active {
    padding-left: 5%;
  }
}
