.content {
  border: 3px solid black;
  height: 600px;
  width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 50px;
  background-color: aquamarine;
  margin-left: 10%;
}
.head-1 {
  text-align: center;
}
.head-2 {
  margin-left: 10%;
  margin-top: 5%;
}
.sub-content {
  border: 3px solid red;
  margin-left: 50px;
  margin-bottom: 50px;
  background-color: white;
}

.whole {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border: 2px solid red;
  margin: 10px;
}
.service {
  width: 300px;
  height: 400px;
}
@media only screen and (max-width: 700px) {
  .content {
    width: 500px;
    margin-left: 0px;
  }
}
