body {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  /* margin-top: 200px; */
  box-shadow: 4px 5px 5px 4px rgb(105, 177, 236);
  border-radius: 10px;
  background-color: lightblue;
}
/* .contact-1 {
  padding-left: 20%;
  padding-top: 10%;
} */

.btn {
  background: green;
  cursor: pointer;
  padding: 5px 5px;
  border: none;
  border-radius: 15px;

  margin-top: 20px;
  margin-left: 50px;
}
.btn:hover {
  opacity: 0.7;
}
.alig {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
@media only screen and (max-width: 700px) {
  .contact {
    width: 400px;
    margin-left: 5%;
  }
}
